.header {
	position: sticky;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: #A2000C;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.header h1,
.mobileHeader {
	margin: 0;
  padding: 0 40px;
  font-size: 22px;
	line-height: 56px;
	font-weight: 400;
	color: #FFF;
}

[dir="ltr"] .header h1,
[dir="ltr"] .mobileHeader {
	float: left;
}

[dir="rtl"] .header h1,
[dir="rtl"] .mobileHeader {
	float: right;
}

.mobileHeader {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobileHeader {
    display: inline-block;
    font-size: 16px;
    padding: 0 15px;
  }

  .header h1 {
    display: none;
  }
}

.header nav {
	font-size: 100%;
}

[dir="ltr"] .header nav, .langChoose {
	float: right;
}

[dir="rtl"] .header nav, .langChoose {
	float: left;
}

.langChoose {
  font-size: 16px;
  border-color: #fff;
  color: #fff;
  height: 100%;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  min-width: 50%;
  max-width: 180px;
}

.langChoose:hover {
  border-color: #fff;
}

@media only screen and (max-width: 320px) {
  .mobileHeader {
    font-size: 15px;
  }

  .langChoose {
    min-width: 148px;
    font-size: 15px;
  }
}

.header nav a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
	background: rgba(0,0,0,0.2);
}

.header nav a.active {
	background: rgba(0,0,0,0.4);
}
