.calc {
	padding: 20px 40px;
	min-height: 100%;
	width: 100%;
}

.important {
  color: #1f3870;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .calc {
    padding: 20px 20px 0;
  }
}

.calc a {
  color: #00675C;
  margin-right: .3rem;
  text-decoration: none;
  display: inline-block;
  height: 34px;
  font-weight: 500;
}

.calcBlock {
  margin-bottom: 10px;
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  .calcBlock {
    font-size: 14px;
  }
}

.calcForm {
  margin-bottom: 20px;
  line-height: 42px;
}

@media only screen and (max-width: 600px) {
  .calcForm {
    line-height: 30px;
  }
}

input[type="checkbox"] {
  margin-right: 8px;
  vertical-align: middle;
}

label[for="showExtraSettings"] {
  font-size: 14px;
  color: rgb(1 27 24 / 71%);
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
}

input[type="datetime-local"],
select {
  background-color: transparent;
  cursor: pointer;
  color: #02443D;
  height: 34px;
  outline: none;
  border: solid 1px #00675C;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  font-size: 20px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 5px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  min-width: 175px;
}

.extraSettings {
  line-height: 36px;
}

.extraSettings label {
  display: block;
  font-size: 16px;
}

output {
  position: relative;
  top: -5px;
}

[dir="ltr"] output {
  left: 5px;
}

[dir="rtl"] output {
  right: 5px;
}

@media only screen and (max-width: 600px) {
  input[type="datetime-local"],
  select {
    font-size: 14px;
    min-width: 135px;
    height: 30px;
  }
}

select {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%2300675C%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: .65em auto;
}

[dir="ltr"] select {
  background-position: right .7em top 55%;
}

[dir="rtl"] select {
  background-position: left .7em top 55%;
}

input[type="datetime-local"]:hover,
select:hover {
  border-color: #A2000C;
}

select option {
  font-weight:normal;
}

.small {
  font-size: 8px;
  line-height: 16px;
}

.heroResult {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .heroResult {
    font-size: 14px;
  }
}

.heroResult time {
  display: inline-block;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 40px;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  footer {
    position: static;
    padding: 10px 20px 20px;
  }
}

.telegram {
  color: #00675C;
  margin-left: 5px;
  text-decoration: none;
}

.extraSettings {
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .extraSettings label,
  .extraSettings output {
    font-size: 12px;
  }
}
