<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.lang %>">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="description" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.description %>">
		<meta name="keywords" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.keywords %>" />
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.title2 %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.description %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://whattimeshouldimakeanappointmentforthepcrtestbeforeflight.com<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.canonical %>" />
    <meta property="og:image" content="https://whattimeshouldimakeanappointmentforthepcrtestbeforeflight.com/assets/icons/android-chrome-512x512.png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/site.webmanifest" crossorigin="use-credentials">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="PCR Time Calc">
    <meta name="application-name" content="PCR Time Calc">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#00675c">
    <link rel="canonical" href="https://whattimeshouldimakeanappointmentforthepcrtestbeforeflight.com<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.canonical %>">
    <link href="https://whattimeshouldimakeanappointmentforthepcrtestbeforeflight.com/" hreflang="x-default" rel="alternate">
    <link href="https://whattimeshouldimakeanappointmentforthepcrtestbeforeflight.com/" hreflang="en" rel="alternate">
    <link href="https://whattimeshouldimakeanappointmentforthepcrtestbeforeflight.com/ru/" hreflang="ru" rel="alternate">
    <link href="https://whattimeshouldimakeanappointmentforthepcrtestbeforeflight.com/es/" hreflang="es" rel="alternate">
    <link href="https://whattimeshouldimakeanappointmentforthepcrtestbeforeflight.com/fr/" hreflang="fr" rel="alternate">
    <link href="https://whattimeshouldimakeanappointmentforthepcrtestbeforeflight.com/de/" hreflang="de" rel="alternate">
    <link href="https://whattimeshouldimakeanappointmentforthepcrtestbeforeflight.com/zh/" hreflang="zh" rel="alternate">
    <link href="https://whattimeshouldimakeanappointmentforthepcrtestbeforeflight.com/ar/" hreflang="ar" rel="alternate">
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9374BQDG3T"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9374BQDG3T');
    </script>
	</body>
</html>
